{% extends "base.html" %}

{% block content %}
    
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{post.title}}</h2>
				    <div class="meta mb-3"><span class="date">{% if post.updated_at %}{{post.updated_at }} {%else%} {{ post.created_at }} {%endif%} </span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
			    </header>
			    {{post.content|safe }}
			</div><!--//panel-inner-->
    </div><!--//configure-panel-->

    
       

	{% endblock %}
